@import "~bootstrap/scss/bootstrap.scss";

.songList{
    background-color: rgb(27,27,27);
    padding-bottom: 82px;
}

@media only screen and (max-width: 575px) {
  .songList {
    padding-bottom: 130px;
  }
}

.song{
    background-color: rgb(27,27,27);
    border: 3px solid rgb(170, 170, 170);
}

.controles{
    background-color: rgb(51, 51, 51);
    padding: 5px 0px 5px 0px;
}

.seleccionado{
    background-color: rgb(75, 75, 75);
}